<div class="row">
  <table class="table fuschia_table">
    <thead class="thead-dark">
    <tr>
      <th width="5%" scope="col">#</th>
      <th width="10%" scope="col">Date</th>
      <th width="55%" scope="col">Name</th>
      <th width="30%" scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @applications.each_with_index do |application, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= application.created_at.to_date %>
        </td>
        <td>
          <img width="32" height="32" src="<%= portrait_url(:character, application.character_id, 32) %>">
          <%= application.name %>
        </td>
        <td>
          <%= link_to 'View', application_path(application), class: 'btn btn-primary' %>
          |||
          <%= link_to application_accept_path(application), method: :post do %>
            <span class="btn btn-success">Accept</span>
          <% end %>
          <%= link_to application_reject_path(application), method: :post do %>
            <span class="btn btn-danger">Reject</span>
          <% end %>
        </td>
      </tr>
    <% end  %>
    </tbody>
  </table>
</div>