<div id="profile-nabvar" class="container navbar navbar-inverse navbar-fixed-left profile-nabvar">
  <ul class="nav navbar-nav">
    <li><a href="#user-general">General</a></li>
    <li><a href="#user-finances">Finance</a></li>
    <li><a href="#user-employment">Employment</a></li>
    <li><a href="#user-contacts">Contacts</a></li>
    <li><a href="#user-mails">Mails</a></li>
  </ul>
</div>

<div id="user-profile" class="user-profile-container panel-container container">
  <%= render '/user/general_info', user: @user, user_service: @user_service %>
  <%= render '/user/finances_info', user_service: @user_service %>
  <%= render '/user/employment_info', user_service: @user_service %>
  <%= render '/user/contacts_info', user_service: @user_service %>
  <%= render '/user/mails_info', user_service: @user_service %>
</div>
