<div id="user-employment" class="hidden">
  <table class="table fuschia_table">
    <thead class="thead-dark">
    <tr>
      <th width="5%" scope="col">#</th>
      <th class="text-left" width="40%" scope="col">Corporation Name</th>
      <th width="20%" scope="col">Ticker</th>
      <th width="20%" scope="col">Join Date</th>
      <th width="20%" scope="col">Time in Corp</th>
    </tr>
    </thead>
    <tbody>
    <% user_service.character_corporation_history.each_with_index do |corporation, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td class="text-left">
          <img width="32" height="32" src="<%= portrait_url(:corporation, corporation[:corporation_id], 32) %>">
          <%= corporation[:info][:name] %>
        </td>
        <td>
          <%= corporation[:info][:ticker] %>
        </td>
        <td>
          <%= corporation[:start_date].to_date %>
        </td>
        <td>
          <%= corporation[:total_days] %>
        </td>
      </tr>
    <% end  %>
    </tbody>
  </table>
</div>