<div id="user-finances" class="hidden">
  <table class="table fuschia_table">
    <thead class="thead-dark">
    <tr>
      <th width="15%" scope="col">Date</th>
      <th width="25%" scope="col">Type</th>
      <th width="25%" scope="col">Amount</th>
      <th width="15%" scope="col">Balance</th>
    </tr>
    </thead>
    <tbody>
    <% user_service.character_wallet_journal.each do |journal| %>
      <tr>
        <td>
          <%= journal[:date].to_date %>
        </td>
        <td>
          <%= journal[:ref_type].titleize %>
        </td>
        <td>
          <span class="<%= money_transaction_css_class(journal[:amount]) %>"><%= number_with_delimiter(journal[:amount], delimiter: ',') %><span>
        </td>
        <td>
          <%= number_with_delimiter(journal[:balance], delimiter: ',') %>
        </td>
      </tr>
    <% end  %>
    </tbody>
  </table>
</div>
