<div id="user-general" class="user-general-container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-5">
        <img width="200" height="200" src="<%= portrait_url(:character, user.character_id, 200) %>">
      </div>
      <div class="col-md-7">
        <h4><%= user.name %></h4>
        <span>
          <img width="16" height="16" src="<%= portrait_url(:corporation, user.corporation_id, 32) %>">
          <%= user_service.corporation_info[:name]%>
        </span>
        <span>
          <img width="16" height="16" src="<%= portrait_url(:alliance, user.alliance_id, 32) %>">
          <%= user_service.alliance_info[:name]%>
        </span>
      </div>
    </div>
    <div class="col-md-3">
      <h4>Clone</h4>
      <span>Sec Status: <%= user_service.character_info[:security_status].round(1)%></span>
      <span>Total SP: <%=  number_with_delimiter(user_service.character_skills[:total_sp], delimiter: ',') %></span>
      <span>Wallet: <%=  number_with_delimiter(user_service.character_wallet.to_f.round(0), delimiter: ',') %> ISK</span>
    </div>
    <div class="col-md-3">
      <h4>Account</h4>
      <span>Birthday: <%= user_service.character_info[:birthday].to_date %> (<%= Date.today.mjd - user_service.character_info[:birthday].to_date.mjd %>) days </span>
    </div>
  </div>
</div>
