<div class="row">
  <%= link_to 'Request Reimbursement', new_reimbursement_path, class: 'btn btn-sm btn-primary action-link' %>
  <table class="table fuschia_table">
    <thead class="thead-dark">
      <tr>
        <th width="5%" scope="col">#</th>
        <th width="30%" scope="col">Name</th>
        <th width="40%" scope="col">Link</th>
        <th width="10%" scope="col">Status</th>
        <th width="20%" scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @reimbursements.each_with_index do |reimbursement, index| %>
        <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <img width="32" height="32" src="<%= portrait_url(:character, reimbursement.user.character_id, 32) %>">
          <%= reimbursement.user.name %>
        </td>
        <td>
          <%= link_to reimbursement.zkb_link, reimbursement.zkb_link %>
        </td>
          <td>
            <span class="<%= reimbursement_status_css_class(reimbursement) %>"><%= reimbursement.status %></span>
          </td>
        <td>
          <% if policy(reimbursement).destroy? %>
            <%= link_to reimbursement_path(reimbursement), method: :delete do %>
              <span class="btn btn-danger">Delete</span>
            <% end %>
          <% else %>
            <%= link_to reimbursement_accept_path(reimbursement), method: :post do %>
              <span class="btn btn-success">Yes</span>
            <% end %>
            <%= link_to reimbursement_reject_path(reimbursement), method: :post do %>
              <span class="btn btn-danger">No</span>
            <% end %>
          <% end %>
        </td>
        </tr>
        <% end  %>
    </tbody>
  </table>
</div>