<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Fuschia Fleet Service</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Fuschia Fleet</a>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <% if is_authenticated? %>
          <li><%= link_to "Recruiting Mailing", recruit_mailing_add_path %></li>
        <% end %>
      </ul>
      <% unless is_authenticated? %>
        <%= simple_form_for :cpp_login, url: auth_cpplogin_path do |f| %>
          <%= f.button :submit, '', class: 'cpplogin-btn' %>
        <% end %>
      <% else %>
        <div class="user-menu-container">
          <div class="col-sm-8">
            <span class="current-user-name"><%= current_user[:name] %></span>
          </div>
          <div class="col-sm-4">
            <%= simple_form_for :logout, url: auth_logout_path do |f| %>
              <%= f.button :submit, 'Logout', class: 'logout-btn' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</header>
<div class="container master-container">
  <%= yield %>
</div>

<footer class="footer">
  <div class="container">
    <div class="pull-left span-3" style="text-align:left">
      <p>
        EVE Online and the EVE logo are the registered trademarks of CCP hf. All rights are reserved worldwide.
        All other trademarks are the property of their respective owners. EVE Online, the EVE logo, EVE and all associated
        logos and designs are the intellectual property of CCP hf. All artwork, screenshots, characters, vehicles, storylines,
        world facts or other recognizable features of the intellectual property relating to these trademarks are likewise the
        intellectual property of CCP hf. CCP is in no way responsible for the content on or functioning of this website, nor
        can it be liable for any damage arising from the use of this website.
      </p>
      <br>
      <p>
        All EVE related materials are property of <a href="http://www.ccpgames.com">CCP Games</a><br>
      </p>
    </div>
  </div>
</footer>
<%= javascript_include_tag "application" %>
</body>
</html>